<main class="container mx-auto min-h-screen w-screen flex items-center justify-center flex-col py-16 px-2 lg:p-0">
  <.flash_group flash={@flash} />

  <header class="mx-auto flex gap-2 items-center">
    <div class="left-box p-2">
      <span class="text-3xl leaf">🍀</span>
    </div>

    <h1 class="text-center text-2xl lg:text-4xl font-serif text-gray-600">
      <strong class="text-gray-800">Shin</strong> - Decode SAML, Inspect OIDC
    </h1>
  </header>

  <div class="w-full mx-auto gap-2 flex flex-col items-center justify-center px-1 lg:px-6">
    <%= @inner_content %>
  </div>
</main>
