<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      Shin - Decode SAML, Inspect OIDC
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="relative w-full min-h-full text-sm font-[450] bg-gray-800 lg:p-2">
    <div class="w-full h-full bg-gradient bg-custom bg-cover bg-no-repeat bg-fixed rounded-lg">
      <%= @inner_content %>
    </div>
  </body>
</html>
